<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Powerball True Value Tracker</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>
<body>
    <div1>
        <h1>Powerball True Value Tracker</h1>
    </div1>
    <hr>
    <div2>
    <h2>Current Powerball Jackpot: {{ jackpot }}</h2>
    <h2>Price of a Powerball Ticket: $2</h2>
    <h2>Current Value of a Powerball Ticket (before tax): ${{ticket_value}}</h2>
    </div2>
</body>
</html>